.background{
  height: 100vh;
  width:  100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Welcome-section{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 18px;
  height: 80vh;
  width: 80vw;
  background-color: rgb(61, 154, 246);
  

}

.welcome-empty-section{
  background-color: rgb(61, 154, 246);
  height: 80vh;
  width: 15vw;
  border-radius: 18px;
}

.Welcome-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(169, 222, 243);
  border: white 10px solid;

  border-radius: 30px;
  height: 79vh;
  width: 65vw;
  font-size: 2.5vw;
  font-weight:600;
}

.Welcome-button {
  margin-top: 5vh;
  padding: 2vh 6vh 2vh 6vh;
  font-size: 60%;
  border-radius: 18px;
  border: rgba(70, 50, 219, 0.76);
  color: white;
  font-weight: 700;
  background-color: rgba(72, 183, 231, 0.591);

}

.Welcome-button:hover{
  transform: scale(1.2) translate(0, 20%);
  font-weight: 100;
  cursor: pointer;
  color: white;
  border: white solid;
  font-weight: 700;

  box-shadow: 2px 2px 4px rgba(72, 183, 231, 0.591);
  background-color: rgba(72, 183, 231, 0.591);
}