.background{
  height: 100vh;
  width:  100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.WeatherIcon{
color: white;
width: 50%;
height: 50%;
vertical-align: middle;
margin-left: 25%;

animation: border-icon 0.5s linear infinite;

}

.built-by{
  position: relative;
  font-size: 50%;
}

.icons {
    color: white;
    /* width: 50%;
    height: 50%; */
    bottom: 0;
    right: 0;
}

@keyframes border-icon {
  0% {
    color: red;
  }
  100% {
    color: blue;
  }
}


.Welcome-section{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 25px;
  height: 80vh;
  width: 70vw;
  background-color: rgb(61, 154, 246);
  
  

}


.welcome-empty-section{
  background-color: rgb(61, 154, 246);
  height: 80vh;
  width: 13vw;
  border-radius: 25px;
  border-left: rgb(236, 236, 236) solid 2px ;

}

.Welcome-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(169, 222, 243);
  border-radius: 60px 18px 18px 60px;
  height: 79.5vh;
  width: 69vw;
  font-size: 2.5vw;
  font-weight:600;
  border: rgba(252, 252, 252, 0.591) solid;
  /* background-image: url(./mountain.jpg);
  background-position: 20%;
  background-size: 100%; */

}

.Welcome-button {
  margin-top: 5vh;
  padding: 2vh 6vh 2vh 6vh;
  font-size: 80%;

  color: white;
  font-weight: 700;
  border: rgba(72, 183, 231, 0.591) solid;
  border-radius: 118px;
  background-color: rgb(61, 154, 246);
  box-shadow: 4px 8px 16px rgba(72, 183, 231, 0.591);
  /* animation: running-border 1s linear infinite; */

}

/* @keyframes running-border {
  0% {
    border-top: white 5px solid;
  }
  25% {
    border-right: white 5px solid;
  }
  75% {
    border-bottom: white 8px solid;
  }
  100% {
    border-left: white 5px solid;
  }
} */

.Welcome-button:hover{
  transform: scale(1.1) translate(0, 20%);
  font-weight: 100;
  cursor: pointer;
  color: white;
  border-bottom: white solid 5px;
  font-weight: 700;

  box-shadow: 4px 8px 16px rgba(72, 183, 231, 0.591);
  background-color: rgb(61, 154, 246);
  /* animation: running-border 0s linear infinite; */
}


.loader{
  /* background-color: blue; */
  margin-top: 5%;
  border-top:  rgb(255, 132, 0) 10px solid;
  border-bottom: rgb(255, 132, 0) 10px solid;
  border-left: white 10px solid;
  border-right: rgb(99, 179, 229) 10px solid;

  border-radius: 50%;
  height: 6%;
  width: 4%;
  animation: loader 1s linear infinite;

  
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

