.Username{
    height: 5vh;
    width: 20vw;
    margin-top: 4vh;
    font-size: 20px;
    padding: 2%;
    background-color: rgba(22, 157, 225, 0.247);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;

}

.Password{
    height: 5vh;
    width: 20vw;
    padding: 2%;
    font-size: 20px;
    background-color: rgba(22, 157, 225, 0.247);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;


}

input::placeholder {
    color: rgb(255, 255, 255);
    font-weight: bold;
  }


.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vh;

}

input:focus {
    background-color: rgb(19, 121, 237);
  }